<a href="https://colab.research.google.com/github/zapa7/Project-Portfolio/blob/main/Alignment_Score_and_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def alignment_score(sequence1, sequence2, match=1, mismatch=-1, gap=-1):
  score = 0
  if len(sequence1) != len(sequence2):
    print('Error: Sequences are different lengths')
    return
  else:
    for i in range(0,len(sequence1)):
      if sequence1[i] == sequence2[i]:
        score += match
      elif sequence1[i] == '-' or sequence2[i] == '-':
        score += gap 
      else: 
        score += mismatch
    print(sequence1)
    print(sequence2)
    print('Score:', score)

In [2]:
alignment_score('AATATGATA', 'AAGTTCATA', match=2, mismatch=-2, gap=-2)

AATATGATA
AAGTTCATA
Score: 6

In [3]:
alignment_score('A-TAT-ATA', 'AATTTC-TA', match=1, mismatch=-1, gap=-1)

A-TAT-ATA
AATTTC-TA
Score: 1

In [5]:
def alignment_table1(seq1, seq2):
  rows = []
  for i in range(0,len(seq1)+1):
    ## create new row
    each = []
    for j in range(0, len(seq2)+1):
      each.append(0)
    
    # append new row
    rows.append(each)

    # Formatting the output
  print('Sequence 1:', seq1, 'with length', len(seq1))
  print('Sequence 2:', seq2, 'with length', len(seq2))
  print('The initial table with dimension', len(seq1)+1, 'and', len(seq2)+1, 'for the sequence alignment is:')
  count = 0
  for each in rows:
    print('Row'+str(count)+':', each)
    count += 1

  return rows
# rows = alignment_table1('FKLASDJF','JASKLDDJF')
# def print_table(rows):
#   count = 0
#   for each in rows:
#     print('Row'+str(count)+':', each)
#     count += 1
# print_table(rows)

In [6]:
alignment_table1('FKLASDJF','JASKLDDJF')

Sequence 1: FKLASDJF with length 8
Sequence 2: JASKLDDJF with length 9
The initial table with dimension 9 and 10 for the sequence alignment is:
Row0: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row1: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row2: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row3: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row4: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row5: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row6: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row7: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row8: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [7]:
def alignment_table_updated(seq1, seq2):
  count = 0
  count_other = 0
  updated_table = alignment_table1(seq1, seq2)
  for i in range(0,len(updated_table[0])):
    updated_table[0][i] -= count+i

  for j in range(0, len(updated_table)):
    updated_table[j][0] -= count_other+j
  print(' ')
  print('The updated table with dimension', len(seq1)+1, 'and', len(seq2)+1, 'for the sequence alignment is:')

  for each in updated_table:
      count_format = 0
      count+=1
      print('Row'+str(count)+':', each)

In [8]:
alignment_table_updated('FKLASDJF','JASKLDDJF')

Sequence 1: FKLASDJF with length 8
Sequence 2: JASKLDDJF with length 9
The initial table with dimension 9 and 10 for the sequence alignment is:
Row0: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row1: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row2: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row3: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row4: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row5: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row6: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row7: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row8: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

The updated table with dimension 9 and 10 for the sequence alignment is:
Row1: [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
Row2: [-1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row3: [-2, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row4: [-3, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row5: [-4, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row6: [-5, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row7: [-6, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row8: [-7, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Row9: [-8, 0, 0, 0, 0, 0, 0, 0, 0, 0]